<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigndesign.light">

    <application
        android:name=".Light"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="light.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />


        <activity android:name=".LanguageSelectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity">

        </activity>
        <activity
            android:name=".ReadActivity"
            android:label="@string/title_activity_read"
            android:theme="@style/AppTheme.Read">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".LearnActivity"
            android:label="@string/title_activity_learn"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.Learn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".AskActivity"
            android:label="@string/title_activity_ask"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.Connect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
    </application>

</manifest>
